!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootswatch.less')
    link(rel='stylesheet', href='/stylesheets/variables.less')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.9.2.custom.css')
    link(rel='stylesheet', href='/stylesheets/ui.jqgrid.css')
    link(rel='stylesheet', href='/stylesheets/msgBoxLight.css')
    script( type='text/javascript' , src='javascripts/lib/require/require.js' , data-main='javascripts/utilities/require/main.js')
  body!= body

  