<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
<style type="text/css">
.home {
	position: absolute;
}
</style>
<script src="jquery.js"></script>
<script src="animate.js"></script>
</head>

<body>
<div class="home" style="width: 225px; height: 195px; left: 76px; top: 125px;">
	<img alt="" src="Human_Resources.png" height="193" width="226" /></div>
	<div style="position:absolute;">
		<div style="width:1px;height:200px;background-color:black;float:left; position:absolute; left: 318px; top: 109px;"></div>	</div>
	<div style="position:absolute; left: 343px; top: 166px; text-align: center; vertical-align: top;">
		<table>
			<tr align="center" style="display: block">
				<td><label id="Label1">Last Name:&nbsp;&nbsp;&nbsp; </label></td>
				<td><input name="txtLastName" type="text" style="width: 290px" /></td>
				<td style="position: fixed"><input name="btnSearch" type="button" value="Search" /></td>
			</tr>
		</table>
	</div>
	<div style="position:absolute; left: 733px; top: 214px;">
		<img id="imgAdSearch" src="ADVANCED-SEARCH-ICON.jpg" alt="Advanced Search" height="72" width="42" /></div>	
	<div id="divAdSearch" style="position:absolute; left: 343px; top: 215px; display:none"><table>
			<tr>
				<td><label id="Label2">First Name: </label></td>
				<td><input name="txtFirstName" type="text" style="width: 290px" /></td>
			</tr>
			<tr>
				<td><label id="Label3">Department:&nbsp;&nbsp; </label></td>
				<td><input name="txtdepartment" type="text" style="width: 290px" /></td>
			</tr>

		</table>
</div>
<div style="position:absolute; left: 894px; top: 10px;">
	<img src="login_large.jpg" alt="Login" height="116" width="177" /></div>
</body>

</html>
