!!!
html
head
  body
    div(style='display:none; left:684px; top:16px;')
    table
        tr
          td
            Label Username
          td
            input#txtUsername(type='text')
        tr
          td
            Label Password
          td
            input(name='txtPassword', type='password')
        tr
          td
          td
            input.btn(type='submit', value='Login')
